@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
    box-sizing: border-box;
}
img {
    display: block;
    max-width: 100%;
}
body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 1.5px;
}
.contenedor{
    margin: auto;
    width: 98%;
    text-decoration: none;
}
/*---------------Estilo del header--------------*/
.header{
    height: 60px;
}
.header.contenedor {
    display: flex;
    justify-content: space-between;
}
.logo,.icon-menu{
    margin: 5px;
    color: #fff;

}
.icon-menu{
    display: block;
    width: 40px;
    height: 40px;
    font-size: 30px;
    background: black;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    margin-left: auto;
    cursor: pointer;
}
/*---------------Estilo del menu---------------*/
.nav{
    position: absolute;
    top: 60px;
    left: -100%;
    width: 100%;
    transition: all 0.4s;
}
.menu{
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu__link{
    display: block;
    padding: 15px;
    background: black;
    text-decoration: none;
    color: #fff;
}
.menu__link:hover, .select {
    background: black;
    color: white;
}
.mostrar{
    left: 0;
}


/*---------------Estilo del banner---------------*/

.banner{
    margin-top: auto;
    position: relative;
    z-index: -1000;
    margin-bottom: 20px;
    text-align: center;
}



.banner.contenedor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    color: #fff;
    text-align: center;
}

.banner__titulo {
    align-content: center;
    color: white;
    
}
.banner__txt {
    display: none;
}




/*----------------Estilo de info----------------*/

.info__columna {
    background: black;
    color: #fff;
    padding: 15px;
    margin-bottom: 30px;
}

/*-----------------Estilo del formulario------------*/

.form-group {
    background: white;
    position: relative;
    font-size: 30px;
    text-align: center;
}

/*----------------Estilo de footer--------------*/

.footer {
    background: black;
    color: white;
    padding: 10px;
    text-align: center;
}

.footer [class^="icon-"]{
    display: inline-block;
    color: black;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    background: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 40px;
}

/*-----------------Estilo página-----------------*/

.poker__titulo{
    text-align: center;
    font-size: 60px;
    margin: 5px 0;
    color: white;
    
}
.poker__txt{
    text-align: right;
    font-size: auto;
    margin: 5px 0;
    color: white;
    width: 5px;
}
.apuestas__titulo{
    text-align: center;
    font-size: 60px;
    margin: 5px 0;
    color: white;
    
}
.apuestas__txt{
    text-align: right;
    font-size: auto;
    margin: 5px 0;
    color: white;
    width: 1000px;
}
.casino__titulo{
    text-align: center;
    font-size: 60px;
    margin: 5px 0;
    color: white;
    
}


.poker__txt{
    
    text-align: right;
    font-size: auto;
    margin: 5px 0;
    color: white;
    width: 1000px;
}

/*---------------Estilo responsive---------------*/

@media(min-width: 480px){
    .logo{
        font-size: 40px;
        
    }
    .banner__titulo {
        font-size: 40px;
        margin: 5px 0;
    }
    .banner__txt {
        display: block;
        font-size: 18px;
        margin: 7px 0;
        color: white;
    }
    .info, .informacion{
        display: flex;
        justify-content: space-between;
        margin-top: -10px;
    }
   
    .info__columna {
        width: 32%;
    }
    .info__titulo {
        font-size: 30px;
        
        margin: 5px 0;
    }
    .section__titulo {
    width: 100%;
  }
    .informacion {
    flex-wrap: wrap;
    margin-top: 0;
  }
  .noticia__columna {
    width: 49%;  
  }
    .footer, .social[class^="icon-"]{
    margin: 0 10px;
    }
    .poker__titulo{
        text-align: center;
    }
    .poker__txt{
        text-align: center;
        margin: 7px 0;
    }
}
@media(min-width: 768px){
    .logo{
        font-size: 40px;
        
    }
    .banner__titulo {
        font-size: 40px;
    }
    .noticia__titulo {
    font-size: 40px;
  }
}
@media(min-width: 1024px){
    
    .nav{
        position: static;
        width: auto;
    }
    .section__titulo {
    font-size: 50px;
    margin: 30px 0;
  }
    .menu{
        display: flex;
    }
    .icon-menu{
        display: none;
    }
    
    .contenedor {
        width: 1000px;
    }
    .nav {
        position: static;
        width: auto;
    }
    
    .select {
        background: black;
    }
    
    .banner__titulo {
        font-size: 60px;
    }
    .banner__img {
        position: relative;
        left: 36%;
    }
    .informacion {
        display: flex;
        justify-content: space-between;
    }
    .noticia__descripcion {
    padding: 20px;
  }
  .noticia__titulo {
    font-size: 50px;
  }
  .noticia__txt {
    font-size: 20px;
  }
    
}

