@import url('./c/css/mars_theme.css');

/* Only Caribe */

body {
    background: url("i/top_bg.png") center 0 no-repeat;
}

.logo_img {
    height: 80px;
    margin: 18px 0 0;
    width: 261px;
}

.argenlive_redesign .lang-table a {
    background: url("i/languages.png") 0 0 !important;
}

.argenlive_redesign .lang-table #ref_lang_en {
    background-position: right 0 !important;
}

.login_area {
    background: url("i/qlogin_bg.png") 0 0 no-repeat;
}

.forgot_link, .welcome_block, .balance_label {
    color: #01254b;
}

.balance_link .qlogin_form_link:hover, .user_name, .history_link, .cashier_link, .balance_link .qlogin_form_link {
    color: #fff;
}

.forgot_link:before {
    background-position: -36px -13px;
}

.forgot_link:hover:before {
    background-position: -54px -13px;
}

.history_link:before {
    background-position: -36px -33px;
}

.history_link:hover:before {
    background-position: -54px -33px;
}

.cashier_link:before {
    background-position: -36px -73px;
}

.cashier_link:hover:before {
    background-position: -54px -73px;
}

.button span {
    text-shadow: 1px 0 2px #04468f !important;
}

.button_quick_login_submit, .button_qlogin_logout {
    line-height: 23px;
}

.button_quick_login_submit:hover, .button_qlogin_logout:hover {
    background-position: left -28px;
    line-height: 24px;
}

.mobile_link, .step_box a, #main_menu_table td.shift_support a span, .news_header .news_link, .bpl_more_info a, .page_container_wrapper.right_area a, div.errors a, div.messages a, .mess_area div.warnings a, .block_link a {
    color: #2292dd;
}

.mobile_link:hover, .step_box a:hover, #main_menu_table td.shift_support:hover a span, #main_menu_table td.shift_support.active.last a span, .news_header .news_link:hover, .bpl_more_info a:hover, .page_container_wrapper.right_area a:hover, div.errors a:hover, div.messages a:hover, .mess_area div.warnings a:hover, .block_link a:hover {
    color: #fff;
}

.buttons_container .button span:before {
    background: url("i/main_buttons_sprite.png") 0 top no-repeat;
}

.buttons_container .button_download span:before {
    background-position: -23px top;
}

.news_wrapper p.news_date, .leaderboard_item_header .period_title {
    color: #56bbfe;
}

.button_quick_login_submit, .button_qlogin_logout {
    background: url("./c/i/redesign/login_btn_caribe.png") left top no-repeat;
}

.buttons_container .button,
.buttons_container .button:hover {
    background: url("./c/i/redesign/main_btn_caribe.png");
}

.rank-of-hands td:first-child {
    text-align: center;
}