@import url('./c/fonts/font-awesome/include.css');

button.link {
    background: transparent;
    border: none;
    border-radius: 0;
    padding: 0;
    min-width: 0;
    min-height: 0;
    width: auto;
    height: auto;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-align: left;
}

.field_wrapper {
    position: relative;
}

.field_valid {
    display: inline-block;
    vertical-align: top;
    height: 24px;
    width: 24px;
}

.field_valid.unknown_icon {
    background: none repeat scroll 0 0 transparent;
}

.field_valid.error_icon {
    /*noinspection CssUnknownTarget*/
    background: url(./c/i/icons/error_icon.gif) no-repeat;
}

.field_valid.correct_icon {
    /*noinspection CssUnknownTarget*/
    background: url(./c/i/icons/correct_icon.gif) no-repeat;
}

.field_valid.progress_icon {
    /*noinspection CssUnknownTarget*/
    background: url( /c/i/icons/progress_icon.gif) no-repeat center center;
}

.email_confirmed {
    /*noinspection CssUnknownTarget*/
    background: url("./c/i/icons/icon_tick_21x21.png") no-repeat bottom center;
    position: absolute;
    top: 3px;
    left: 4px;
    width: 21px;
    height: 21px;
}

.email_confirmed.true {
    background-position: top center;
}

.field_wrapper, .button.button_email_confirm {
    display: inline-block;
    vertical-align: middle;
}

.input_common.email_confirmed_input {
    padding-left: 25px;
}

.hands_history_table td.nav_wrapper {
    width: 32px;
}

a.arrow_right_1, a.arrow_left_1 {
    display: block;
    margin: 0 10px;
    width: 12px;
    height: 20px;
    font-size: 0;
    text-decoration: none;
    text-outline: none;
    outline: none;
}

.arrow_right_1 {
    /*noinspection CssUnknownTarget*/
    background-image: url('/c/i/icons/arrow-right.png');
}

.arrow_left_1 {
    /*noinspection CssUnknownTarget*/
    background-image: url('/c/i/icons/arrow-left.png');
}

a.arrow_right_1:hover, a.arrow_left_1:hover {
    text-decoration: none;
}

.hand_info_button {
    width: 102px;
    background: #dddcdc;
    border: 1px solid #cecece;
    border-radius: 5px;
    padding: 0 5px;
    min-width: 90px;
    font-size: 14px;
    color: #717171;
    text-align: center;
}

.hand_info_button .negative {
    color: #f00;
}

.hand_info_button .positive {
    color: #008000;
}

.active .hand_info_button, .active .hand_info_button:hover {
    background: #f5f3f3;
}

.hand_info_button:hover {
    background: #eaeaea;
}

.poker_history_container .desktop_only:first-child, .hand_detail_title {
    display: table-cell;
    vertical-align: middle;
}

.poker_history_container .button_back {
    display: inline-block;
}

.hand_detail_title {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 5px;
}

.hand_detail_title .game_name {
    font-weight: bold;
}

.poker_history_container hr {
    margin: 5px 0;
}

.hands_history_table {
    table-layout: fixed;
    margin: 0 auto;
    width: 100%;
}

.hands_history_table .scrollbar {
    position: relative;
    display: none;
    height: 7px;
    background: #e9e9e9;
    border-radius: 5px;
}

.hands_history_table .scrollbar .handle {
    border-radius: 5px;
    background: #c8c8c8;
    border: 1px solid #fff;
    height: 5px;
}

.nowrap {
    white-space: nowrap;
}

#game_history_container th, #game_history_container td,
#hand_details_container th, #hand_details_container td {
    text-align: left;
    padding: 4px 10px;
    vertical-align: top;
}

#hand_details_container .community_cards td {
    vertical-align: middle;
}

#hand_details_container .community_cards div:last-child {
    margin-top: 2px;
}

#hand_details_container .community_cards div:first-child {
    margin-top: 0;
}

#game_history_container th.date, #game_history_container td.date,
#hand_details_container th.date, #hand_details_container td.date {
    white-space: nowrap;
}

#game_history_container th.hands_count, #game_history_container td.hands_count {
    text-align: center;
}

#hand_details_container td.right {
    text-align: right;
}

#game_history_container td.result, #game_history_container td.buyin {
    text-align: right;
    white-space: nowrap;
}

#game_history_container td.result .history_result_wallet, #game_history_container td.buyin .history_result_wallet {
    /*noinspection CssUnknownTarget*/
    background: url("/c/i/icons/wallet.png") no-repeat top center;
    display: block;
    margin-right: 10px;
    width: 14px;
    height: 14px;
    float: left;
}

#game_history_container .pages_count a {
    border: 1px solid #dddcdc;
    background: #dddcdc;
}

#game_history_container .pages_count a:hover {
    background: #eaeaea;
}

#game_history_container .pages_count span {
    border: 1px solid #cecece;
    background: #f0f0f0;
}

#game_history_container .pages_count a, #game_history_container .pages_count span {
    display: inline-block;
    margin-right: 3px;
    height: 25px;
    width: 25px;
    border-radius: 5px;
    font-weight: normal;
    line-height: 25px;
    text-decoration: none;
    text-align: center;
    color: #717171;
}

#game_history_container .pages_count {
    text-align: right;
}

#game_history_container .paging_wrapper {
    display: inline-block;
}

.glow {
    color: #f28b8b;
}

.action_num {
    color: #717171;
    font-size: 11px;
}

.cards_container {
    white-space: nowrap;
}

.cards_container .cards_24x35:last-child {
    margin-right: 0;
}

.cards_24x35 {
    display: inline-block;
    height: 35px;
    width: 24px;
    margin-right: -10px;
    /*noinspection CssUnknownTarget*/
    background: url("/c/i/icons/cards_24x35.png") no-repeat 0 0;
    padding: 0;
    line-height: 35px;
}

.card_group_even {
    line-height: 45px;
}

.card_joker {
    background-position: 0 -1px;
}

.card_back {
    /*noinspection CssUnknownTarget*/
    background-image: url("/c/i/icons/card_back_24x35.png");
}

/*C*/
.card_ac {
    background-position: -25px -1px;
}

.card_2c {
    background-position: -50px -1px;
}

.card_3c {
    background-position: -75px -1px;
}

.card_4c {
    background-position: -100px -1px;
}

.card_5c {
    background-position: -125px -1px;
}

.card_6c {
    background-position: -150px -1px;
}

.card_7c {
    background-position: -175px -1px;
}

.card_8c {
    background-position: -200px -1px;
}

.card_9c {
    background-position: -225px -1px;
}

.card_tc {
    background-position: -250px -1px;
}

.card_jc {
    background-position: -275px -1px;
}

.card_qc {
    background-position: -300px -1px;
}

.card_kc {
    background-position: -325px -1px;
}

/*D*/
.card_ad {
    background-position: -25px -37px;
}

.card_2d {
    background-position: -50px -37px;
}

.card_3d {
    background-position: -75px -37px;
}

.card_4d {
    background-position: -100px -37px;
}

.card_5d {
    background-position: -125px -37px;
}

.card_6d {
    background-position: -150px -37px;
}

.card_7d {
    background-position: -175px -37px;
}

.card_8d {
    background-position: -200px -37px;
}

.card_9d {
    background-position: -225px -37px;
}

.card_td {
    background-position: -250px -37px;
}

.card_jd {
    background-position: -275px -37px;
}

.card_qd {
    background-position: -300px -37px;
}

.card_kd {
    background-position: -325px -37px;
}

/*H*/
.card_ah {
    background-position: -25px -73px;
}

.card_2h {
    background-position: -50px -73px;
}

.card_3h {
    background-position: -75px -73px;
}

.card_4h {
    background-position: -100px -73px;
}

.card_5h {
    background-position: -125px -73px;
}

.card_6h {
    background-position: -150px -73px;
}

.card_7h {
    background-position: -175px -73px;
}

.card_8h {
    background-position: -200px -73px;
}

.card_9h {
    background-position: -225px -73px;
}

.card_th {
    background-position: -250px -73px;
}

.card_jh {
    background-position: -275px -73px;
}

.card_qh {
    background-position: -300px -73px;
}

.card_kh {
    background-position: -325px -73px;
}

/*S*/

.card_as {
    background-position: -25px -109px;
}

.card_2s {
    background-position: -50px -109px;
}

.card_3s {
    background-position: -75px -109px;
}

.card_4s {
    background-position: -100px -109px;
}

.card_5s {
    background-position: -125px -109px;
}

.card_6s {
    background-position: -150px -109px;
}

.card_7s {
    background-position: -175px -109px;
}

.card_8s {
    background-position: -200px -109px;
}

.card_9s {
    background-position: -225px -109px;
}

.card_ts {
    background-position: -250px -109px;
}

.card_js {
    background-position: -275px -109px;
}

.card_qs {
    background-position: -300px -109px;
}

.card_ks {
    background-position: -325px -109px;
}

.loading:not(button):not(.button):not(.link) {
    position: relative;
}

.loading:not(button):not(.button):not(.link):after {
    content: '';
    /*noinspection CssUnknownTarget*/
    background: url("/c/i/preloader.gif") no-repeat center center rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
}

.rummy_details {
    display: none;
}

.pokerhanddetails .more_details a, .pokerhanddetails .less_details a, .pokerhanddetails .more_details a:hover, .pokerhanddetails .less_details a:hover {
    text-decoration: none;
}

.cashout_requests .datetime, .cashout_requests .money, .withdrawals .datetime, .withdrawals .money {
    width: 20%;
}

.cashout_requests .additional_info, .withdrawals .payments {
    width: 60%;
}

table.border.cashout_requests .last, table.border.withdrawals .last {
    padding-left: 20px;
    text-align: left;
}

.cashout_requests .additional_info .comment-body {
    display: inline-block;
}

.withdrawals .reversed-amount {
    color: #666;
}

.dialog-cell.details-control-number {
    font-weight: bold;
}

.dialog-cell.title {
    width: 10%;
}

.dialog-cell.details-control-number, .dialog-cell.receiver-data, .dialog-cell.sender-data {
    padding-top: 10px;
}

.confirm_dialog_wrapper h4.title {
    margin: 0.5rem 0 1rem;
    text-align: center;
}

.history_menu ul {
    margin-bottom: 20px;
}

.history_menu ul li, .history_menu ul li a {
    display: inline-block;
}

.history_menu ul li a {
    min-width: 100px;
    text-decoration: none;
    width: auto;
}

.history_menu ul li a span {
    display: block;
    height: inherit;
    padding: 6px 10px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.prize_pool_value {
    padding-left: 5px;
}

/****************************
    HELP CARDS
*******************************/
.royal_flush {
    /*noinspection CssUnknownTarget*/
    background: url('/c/i/help/royal_flush.gif') no-repeat bottom center;
    width: 250px;
    height: 80px;
}

.straight_flush {
    /*noinspection CssUnknownTarget*/
    background: url('/c/i/help/straight_flush.gif') no-repeat bottom center;
    width: 250px;
    height: 80px;
}

.straight_flush2 {
    /*noinspection CssUnknownTarget*/
    background: url('/c/i/help/straight_flush2.gif') no-repeat bottom center;
    width: 250px;
    height: 80px;
}

.fourofkind {
    /*noinspection CssUnknownTarget*/
    background: url('/c/i/help/4ofkind.gif') no-repeat bottom center;
    width: 250px;
    height: 80px;
}

.full_house {
    /*noinspection CssUnknownTarget*/
    background: url('/c/i/help/full_house.gif') no-repeat bottom center;
    width: 250px;
    height: 80px;
}

.flush {
    /*noinspection CssUnknownTarget*/
    background: url('/c/i/help/flush.gif') no-repeat bottom center;
    width: 250px;
    height: 80px;
}

.straight {
    /*noinspection CssUnknownTarget*/
    background: url('/c/i/help/straight.gif') no-repeat bottom center;
    width: 250px;
    height: 155px;
}

.flush2 {
    /*noinspection CssUnknownTarget*/
    background: url('/c/i/help/flush2.gif') no-repeat bottom center;
    width: 250px;
    height: 80px;
}

.straight2 {
    /*noinspection CssUnknownTarget*/
    background: url('/c/i/help/straight2.gif') no-repeat bottom center;
    width: 250px;
    height: 155px;
}

.three_kind {
    /*noinspection CssUnknownTarget*/
    background: url('/c/i/help/three_kind.gif') no-repeat bottom center;
    width: 250px;
    height: 80px;
}

.two_pair {
    /*noinspection CssUnknownTarget*/
    background: url('/c/i/help/two_pair.gif') no-repeat bottom center;
    width: 250px;
    height: 80px;
}

.one_pair {
    /*noinspection CssUnknownTarget*/
    background: url('/c/i/help/one_pair.gif') no-repeat bottom center;
    width: 250px;
    height: 80px;
}

.high_card {
    /*noinspection CssUnknownTarget*/
    background: url('/c/i/help/high_card.gif') no-repeat bottom center;
    width: 250px;
    height: 80px;
}

.high_card2 {
    /*noinspection CssUnknownTarget*/
    background: url('/c/i/help/high_card2.gif') no-repeat bottom center;
    width: 250px;
    height: 80px;
}

.five_high {
    /*noinspection CssUnknownTarget*/
    background: url('/c/i/help/five_high.gif') no-repeat bottom center;
    width: 250px;
    height: 80px;
}

.six_high {
    /*noinspection CssUnknownTarget*/
    background: url('/c/i/help/six_high.gif') no-repeat bottom center;
    width: 250px;
    height: 80px;
}

.seven_high {
    /*noinspection CssUnknownTarget*/
    background: url('/c/i/help/seven_high.gif') no-repeat bottom center;
    width: 250px;
    height: 80px;
}

.eight_high {
    /*noinspection CssUnknownTarget*/
    background: url('/c/i/help/eight_high.gif') no-repeat bottom center;
    width: 250px;
    height: 80px;
}

.cards_set {
    text-align: center;
}

.cards_set .card {
    width: 40px;
    height: 56px;
    display: inline-block;
}

.cards_set .b_4 {
    /*noinspection CssUnknownTarget*/
    background: transparent url("/c/i/help/cards/bub_4.png");
}

.cards_set .b_a {
    /*noinspection CssUnknownTarget*/
    background: transparent url("/c/i/help/cards/bub_ace.png");
}

.cards_set .c_a {
    /*noinspection CssUnknownTarget*/
    background: transparent url("/c/i/help/cards/cherv_ace.png");
}

.cards_set .c_j {
    /*noinspection CssUnknownTarget*/
    background: transparent url("/c/i/help/cards/cherv_j.png");
}

.cards_set .c_k {
    /*noinspection CssUnknownTarget*/
    background: transparent url("/c/i/help/cards/cherv_king.png");
}

.cards_set .p_10 {
    /*noinspection CssUnknownTarget*/
    background: transparent url("/c/i/help/cards/pik_10.png");
}

.cards_set .p_2 {
    /*noinspection CssUnknownTarget*/
    background: transparent url("/c/i/help/cards/pik_2.png");
}

.cards_set .p_3 {
    /*noinspection CssUnknownTarget*/
    background: transparent url("/c/i/help/cards/pik_3.png");
}

.cards_set .p_6 {
    /*noinspection CssUnknownTarget*/
    background: transparent url("/c/i/help/cards/pik_6.png");
}

.cards_set .p_7 {
    /*noinspection CssUnknownTarget*/
    background: transparent url("/c/i/help/cards/pik_7.png");
}

.cards_set .p_a {
    /*noinspection CssUnknownTarget*/
    background: transparent url("/c/i/help/cards/pik_ace.png");
}

.cards_set .p_k {
    /*noinspection CssUnknownTarget*/
    background: transparent url("/c/i/help/cards/pik_king.png");
}

.cards_set .p_q {
    /*noinspection CssUnknownTarget*/
    background: transparent url("/c/i/help/cards/pik_quen.png");
}

.cards_set .t_5 {
    /*noinspection CssUnknownTarget*/
    background: transparent url("/c/i/help/cards/tref_5.png");
}

.cards_set .t_8 {
    /*noinspection CssUnknownTarget*/
    background: transparent url("/c/i/help/cards/tref_8.png");
}

.cards_set .t_a {
    /*noinspection CssUnknownTarget*/
    background: transparent url("/c/i/help/cards/tref_ace.png");
}

.rank_table td.darkcell {
    width: 250px
}

.button_group {
    display: inline-block;
    vertical-align: middle;
}

.collapse {
    display: none;
    overflow: hidden;
}

.collapse.in {
    display: block;
}

.contest_container .title_container {
    position: relative;
    cursor: pointer;
    vertical-align: middle;
}

.contest_container .title_container .title {
    vertical-align: middle;
}

.contest_container .title_container:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    /*noinspection CssUnknownTarget*/
    background: url("/c/i/icons/contest-icons.png") no-repeat;
    margin: auto;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    min-width: 28px;
    width: 28px;
    height: 28px;
    box-sizing: border-box;
}

.contest_container .title_container:after {
    background-position: -7px -37px;
}

.contest_container.collapsed .title_container:after {
    background-position: -7px -3px;
}

.contest_container.collapsed .button.button_lottery_refresh {
    opacity: 0;
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -ms-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
}

button, .link {
    cursor: pointer;
}

button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
    border: 0;
}

button[disabled], button.disabled, .link.disabled, .link[disabled] {
    opacity: .5;
    cursor: default;
}

input[disabled], select[disabled], textarea[disabled], input.disabled, select.disabled, textarea.disabled,
.select[disabled], .input[disabled], .textarea[disabled], .select.disabled, .input.disabled, .textarea.disabled {
    background: rgb(155, 155, 155);
    cursor: default;
}

input::-ms-clear, input[type="password"]::-ms-reveal {
    display: none;
}

.contest_container .button.button_lottery_refresh {
    position: relative;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    margin: auto 0.5em;
    padding: 2px;
    min-width: 22px;
    width: 28px;
    height: 28px;
    vertical-align: middle;
    opacity: 1;
    -webkit-transition: opacity 0.3s linear 0.3s;
    -moz-transition: opacity 0.3s linear 0.3s;
    -ms-transition: opacity 0.3s linear 0.3s;
    -o-transition: opacity 0.3s linear 0.3s;
    transition: opacity 0.3s linear 0.3s;
    box-sizing: border-box;
}

.contest_container .button.button_lottery_refresh:after {
    content: '';
    /*noinspection CssUnknownTarget*/
    background: url("/c/i/icons/contest-icons.png") no-repeat -50px -10px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 22px;
    height: 22px;
    -webkit-transition: transform 0.5s linear;
    -moz-transition: transform 0.5s linear;
    -ms-transition: transform 0.5s linear;
    -o-transition: transform 0.5s linear;
    transition: transform 0.5s linear;
}

.contest_container .button.button_lottery_refresh:hover:after {
    -webkit-transform: rotate(400grad);
    -moz-transform: rotate(400grad);
    -ms-transform: rotate(400grad);
    -o-transform: rotate(400grad);
    transform: rotate(400grad);
}

.contest_container .button.button_lottery_refresh .title {
    font-size: 0;
}

.paging-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
}

.me .cell, .win .cell {
    font-weight: bold;
}

.matched, .cell .matched {
    color: #808080;
}

.contest_block .cell:first-child {
    text-align: left;
}

.contest_block .error-cell.cell {
    text-align: center;
}

.filter-block {
    padding-bottom: 15px;
    display: flex;
    width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: baseline;
    box-sizing: border-box;
}

.filter-block .action-group {
    margin-right: 1.5em;
    vertical-align: middle;
}

.filter-block .action-group > * {
    vertical-align: middle;
}

.filter-block .export-block {
    margin-top: 0.5em;
    width: 100%;
}

.tickets-count {
    font-weight: bold;
}

/* Cards sprite */

.sprite_cards {
    /*noinspection CssUnknownTarget*/
    background: url(/c/i/cards/sprite_cards.png) no-repeat;
    display: inline-block;
    height: 16px;
    width: 28px;
}

.sprite_cards_10c, .sprite_cards_Tc {
    background-position: -5px -5px;
}

.sprite_cards_10d, .sprite_cards_Td {
    background-position: -43px -5px;
}

.sprite_cards_10h, .sprite_cards_Th {
    background-position: -81px -5px;
}

.sprite_cards_10s, .sprite_cards_Ts {
    background-position: -119px -5px;
}

.sprite_cards_2c {
    background-position: -157px -5px;
}

.sprite_cards_2d {
    background-position: -195px -5px;
}

.sprite_cards_2h {
    background-position: -5px -31px;
}

.sprite_cards_2s {
    background-position: -43px -31px;
}

.sprite_cards_3c {
    background-position: -81px -31px;
}

.sprite_cards_3d {
    background-position: -119px -31px;
}

.sprite_cards_3h {
    background-position: -157px -31px;
}

.sprite_cards_3s {
    background-position: -195px -31px;
}

.sprite_cards_4c {
    background-position: -5px -57px;
}

.sprite_cards_4d {
    background-position: -43px -57px;
}

.sprite_cards_4h {
    background-position: -81px -57px;
}

.sprite_cards_4s {
    background-position: -119px -57px;
}

.sprite_cards_5c {
    background-position: -157px -57px;
}

.sprite_cards_5d {
    background-position: -195px -57px;
}

.sprite_cards_5h {
    background-position: -5px -83px;
}

.sprite_cards_5s {
    background-position: -43px -83px;
}

.sprite_cards_6c {
    background-position: -81px -83px;
}

.sprite_cards_6d {
    background-position: -119px -83px;
}

.sprite_cards_6h {
    background-position: -157px -83px;
}

.sprite_cards_6s {
    background-position: -195px -83px;
}

.sprite_cards_7c {
    background-position: -5px -109px;
}

.sprite_cards_7d {
    background-position: -43px -109px;
}

.sprite_cards_7h {
    background-position: -81px -109px;
}

.sprite_cards_7s {
    background-position: -119px -109px;
}

.sprite_cards_8c {
    background-position: -157px -109px;
}

.sprite_cards_8d {
    background-position: -195px -109px;
}

.sprite_cards_8h {
    background-position: -5px -135px;
}

.sprite_cards_8s {
    background-position: -43px -135px;
}

.sprite_cards_9c {
    background-position: -81px -135px;
}

.sprite_cards_9d {
    background-position: -119px -135px;
}

.sprite_cards_9h {
    background-position: -157px -135px;
}

.sprite_cards_9s {
    background-position: -195px -135px;
}

.sprite_cards_Ac {
    background-position: -5px -161px;
}

.sprite_cards_Ad {
    background-position: -43px -161px;
}

.sprite_cards_Ah {
    background-position: -81px -161px;
}

.sprite_cards_As {
    background-position: -119px -161px;
}

.sprite_cards_Jc {
    background-position: -157px -161px;
}

.sprite_cards_Jd {
    background-position: -195px -161px;
}

.sprite_cards_Jh {
    background-position: -5px -187px;
}

.sprite_cards_Joker, .sprite_cards_JokerB {
    width: 56px;
}

.sprite_cards_Joker {
    background-position: -43px -187px;
}

.sprite_cards_JokerB {
    background-position: -109px -187px;
}

.sprite_cards_Js {
    background-position: -175px -187px;
}

.sprite_cards_Kc {
    background-position: -5px -213px;
}

.sprite_cards_Kd {
    background-position: -43px -213px;
}

.sprite_cards_Kh {
    background-position: -81px -213px;
}

.sprite_cards_Ks {
    background-position: -119px -213px;
}

.sprite_cards_Qc {
    background-position: -157px -213px;
}

.sprite_cards_Qd {
    background-position: -195px -213px;
}

.sprite_cards_Qh {
    background-position: -233px -5px;
}

.sprite_cards_Qs {
    background-position: -233px -31px;
}

.tournament_register[data-tournament-register-action] .title_link {
    display: none;
}

.tournament_register[data-tournament-register-action="register"] .title_link.register,
.tournament_register[data-tournament-register-action="unregister"] .title_link.unregister {
    display: inline;
}

.tournament-registration-widget {
    background: #c3c3c3;
    position: absolute;
    display: inline-block;
    min-width: 300px;
    font-size: 12px;
    color: #404040;
    text-align: left;
    z-index: 9999;
}

.tournament-registration-widget .title-wrapper {
    background: #ececec;
    display: flex;
    padding: 0.8em 0.6em;
    align-items: center;
    justify-content: space-between;
    color: #3f3f3f;
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
}

.tournament-registration-widget .title-wrapper h1 {
    margin: 0;
    padding: 0;
    font-size: inherit;
    text-transform: uppercase;
    font-weight: inherit;
    color: inherit;
    line-height: inherit;
}

.tournament-registration-widget .title-wrapper .close {
    background: none;
    margin: 0;
    border-radius: 0;
    border: none;
    padding: 0;
    width: auto;
    height: auto;
    min-width: inherit;
    min-height: inherit;
    color: inherit;
    font-size: 21px;
    font-weight: inherit;
    line-height: inherit;
}

.tournament-registration-widget .widget-body {
    padding: 1.3em 1.3em 0.8em;
}

.tournament-registration-widget .name h2 {
    margin: 0;
    border: none;
    padding: 0;
    font-size: inherit;
    color: inherit;
    font-weight: bold;
}

.tournament-registration-widget .game-type {
    margin-bottom: 1.5em;
}

.tournament-registration-widget .start-date {
    margin-bottom: 1em;
}

.tournament-registration-widget .controls-wrapper.check-state {
    position: relative;
}

.tournament-registration-widget .controls-wrapper.check-state:after,
.tournament-registration-widget .controls-wrapper.check-state:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 1000;
}

.tournament-registration-widget .controls-wrapper.check-state:before {
    background-color: rgba(0, 0, 0, 0.5);
}

.tournament-registration-widget .controls-wrapper.check-state:after {
    /*noinspection CssUnknownTarget*/
    background: url('/c/i/preloader.gif') no-repeat transparent;
    width: 150px;
    height: 13px;
}

.tournament-registration-widget label,
.tournament-registration-widget input[type=radio] {
    cursor: pointer;
}

.remaining_limit {
    border-bottom: 1px dashed #000;
    cursor: help;
}

.tournament-registration-widget .remaining_limit {
    border-bottom: 1px dashed #404040;
}

.tournament-registration-widget label.disabled,
.tournament-registration-widget input[type=radio].disabled {
    cursor: default;
    opacity: .5;
}

.tournament-registration-widget input[type=radio][disabled] {
    cursor: default;
}

.tournament-registration-widget .wallet-block {
    background: #ececec;
    display: flex;
    padding: 1em;
    margin-bottom: 0.5em;
}

.tournament-registration-widget .wallet-block .wallet-item {
    margin-right: 0.8em;
    border-right: 2px solid;
    padding-right: 0.8em;
}

.tournament-registration-widget .wallet-block .wallet-item:last-child {
    margin-right: 0;
    border-right: none;
    padding-right: 0;
}

.tournament-registration-widget .wallet-block .wallet-item label.disabled span {
    border-bottom: none;
    color: inherit;
}

.tournament-registration-widget .wallet-block .wallet-item label:hover span {
    border-bottom-color: transparent;
}

.tournament-registration-widget .wallet-block .wallet-item label input {
    display: none;
}

.tournament-registration-widget .wallet-block .wallet-item label span {
    border-bottom: 1px solid;
    color: #ef4e42;
}

.tournament-registration-widget .wallet-block .wallet-item label input:checked ~ span {
    color: #9a362c;
}

.tournament-registration-widget .registration-type-item {
    display: none;
}

.tournament-registration-widget .registration-type-item.selected {
    display: block;
}

.tournament-registration-widget .registration-type {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 0.5em 0;
    border-top: 1px solid;
    padding-top: 0.5em;
}

.tournament-registration-widget .registration-type:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    right: 0;
    border-top: 1px solid;
}

.tournament-registration-widget .registration-type label {
    margin-top: 0.5em;
}

.tournament-registration-widget .registration-type label > span,
.tournament-registration-widget .registration-type label input {
    vertical-align: middle;
}

.tournament-registration-widget .registration-type label input {
    margin: 0;
    border: none;
    padding: 0;
}

.tournament-registration-widget .registration-type label > span {
    margin-left: 0.5em;
    font-weight: bold;
}

.tournament-registration-widget .registration-type label .available {
    font-weight: normal;
}

.tournament-registration-widget .additional-block {
    position: relative;
    margin-top: 1em;
    border-top: 1px solid;
    padding-top: 2px;
}

.tournament-registration-widget .additional-block .additional-wrapper {
    display: flex;
    border-top: 1px solid;
    padding-top: 1em;
    justify-content: space-between;
    align-items: center;
}

.tournament-registration-widget .additional-block .entry_field_wrapper,
.tournament-registration-widget .additional-block .entry_field_wrapper .select {
    width: auto;
}

.tournament-registration-widget .button-block {
    display: flex;
    margin-top: 1em;
    justify-content: flex-end;
    text-align: right;
}

.tournament-registration-widget .button-block .button-unregister {
    margin-right: auto;
}

.tournament-registration-widget .notify {
    position: relative;
    display: flex;
    margin-bottom: 0.5em;
    width: 270px;
    align-items: center;
    justify-content: flex-start;
}

.tournament-registration-widget .notify:before {
    content: '';
    /*noinspection CssUnknownTarget*/
    background: url("/c/i/icons/tournament-registration-sprite.png") transparent no-repeat;
    margin-right: 0.5em;
    flex: 0 0 auto;
}

.tournament-registration-widget .notify.error-notify:before {
    background-position: -10px -10px;
    width: 24px;
    height: 25px;
}

.tournament-registration-widget .notify.warring-notify:before {
    background-position: -54px -10px;
    width: 23px;
    height: 21px;
}

.noty_layout_mixin, #noty_layout__top, #noty_layout__topLeft, #noty_layout__topCenter, #noty_layout__topRight, #noty_layout__bottom, #noty_layout__bottomLeft, #noty_layout__bottomCenter, #noty_layout__bottomRight, #noty_layout__center, #noty_layout__centerLeft, #noty_layout__centerRight {
    position: fixed;
    margin: 0;
    padding: 0;
    z-index: 9999999;
    -webkit-transform: translateZ(0) scale(1, 1);
    transform: translateZ(0) scale(1, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    filter: blur(0);
    -webkit-filter: blur(0);
    max-width: 90%;
}

#noty_layout__top {
    top: 0;
    left: 5%;
    width: 90%;
}

#noty_layout__topLeft {
    top: 20px;
    left: 20px;
    width: 325px;
}

#noty_layout__topCenter {
    top: 5%;
    left: 50%;
    width: 325px;
    -webkit-transform: translate(-webkit-calc(-50% - .5px)) translateZ(0) scale(1, 1);
    transform: translate(calc(-50% - .5px)) translateZ(0) scale(1, 1);
}

#noty_layout__topRight {
    top: 20px;
    right: 20px;
    width: 325px;
}

#noty_layout__bottom {
    bottom: 0;
    left: 5%;
    width: 90%;
}

#noty_layout__bottomLeft {
    bottom: 20px;
    left: 20px;
    width: 325px;
}

#noty_layout__bottomCenter {
    bottom: 5%;
    left: 50%;
    width: 325px;
    -webkit-transform: translate(-webkit-calc(-50% - .5px)) translateZ(0) scale(1, 1);
    transform: translate(calc(-50% - .5px)) translateZ(0) scale(1, 1);
}

#noty_layout__bottomRight {
    bottom: 20px;
    right: 20px;
    width: 325px;
}

#noty_layout__center {
    top: 50%;
    left: 50%;
    width: 325px;
    -webkit-transform: translate(-webkit-calc(-50% - .5px), -webkit-calc(-50% - .5px)) translateZ(0) scale(1, 1);
    transform: translate(calc(-50% - .5px), calc(-50% - .5px)) translateZ(0) scale(1, 1);
}

#noty_layout__centerLeft {
    top: 50%;
    left: 20px;
    width: 325px;
    -webkit-transform: translate(0, -webkit-calc(-50% - .5px)) translateZ(0) scale(1, 1);
    transform: translate(0, calc(-50% - .5px)) translateZ(0) scale(1, 1);
}

#noty_layout__centerRight {
    top: 50%;
    right: 20px;
    width: 325px;
    -webkit-transform: translate(0, -webkit-calc(-50% - .5px)) translateZ(0) scale(1, 1);
    transform: translate(0, calc(-50% - .5px)) translateZ(0) scale(1, 1);
}

.noty_progressbar {
    display: none;
}

.noty_has_timeout.noty_has_progressbar .noty_progressbar {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background-color: #646464;
    opacity: 0.2;
    filter: alpha(opacity=10);
}

.noty_bar {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate(0, 0) translateZ(0) scale(1, 1);
    -ms-transform: translate(0, 0) scale(1, 1);
    transform: translate(0, 0) scale(1, 1);
    -webkit-font-smoothing: subpixel-antialiased;
    overflow: hidden;
}

.noty_effects_open {
    opacity: 0;
    -webkit-transform: translate(50%);
    -ms-transform: translate(50%);
    transform: translate(50%);
    -webkit-animation: noty_anim_in 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    animation: noty_anim_in 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.noty_effects_close {
    -webkit-animation: noty_anim_out 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    animation: noty_anim_out 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.noty_fix_effects_height {
    -webkit-animation: noty_anim_height 75ms ease-out;
    animation: noty_anim_height 75ms ease-out;
}

.noty_close_with_click {
    cursor: pointer;
}

.noty_close_button {
    position: absolute;
    top: 2px;
    right: 2px;
    font-weight: bold;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    cursor: pointer;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.noty_close_button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.noty_modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 10000;
    opacity: .3;
    left: 0;
    top: 0;
}

.noty_modal.noty_modal_open {
    opacity: 0;
    -webkit-animation: noty_modal_in .3s ease-out;
    animation: noty_modal_in .3s ease-out;
}

.noty_modal.noty_modal_close {
    -webkit-animation: noty_modal_out .3s ease-out;
    animation: noty_modal_out .3s ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes noty_modal_in {
    100% {
        opacity: .3;
    }
}

@keyframes noty_modal_in {
    100% {
        opacity: .3;
    }
}

@-webkit-keyframes noty_modal_out {
    100% {
        opacity: 0;
    }
}

@keyframes noty_modal_out {
    100% {
        opacity: 0;
    }
}

@keyframes noty_modal_out {
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes noty_anim_in {
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes noty_anim_in {
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1;
    }
}

@-webkit-keyframes noty_anim_out {
    100% {
        -webkit-transform: translate(50%);
        transform: translate(50%);
        opacity: 0;
    }
}

@keyframes noty_anim_out {
    100% {
        -webkit-transform: translate(50%);
        transform: translate(50%);
        opacity: 0;
    }
}

@-webkit-keyframes noty_anim_height {
    100% {
        height: 0;
    }
}

@keyframes noty_anim_height {
    100% {
        height: 0;
    }
}

.noty_theme__relax.noty_bar {
    margin: 4px 0;
    overflow: hidden;
    border-radius: 2px;
    position: relative;
}

.noty_theme__relax.noty_bar .noty_body {
    padding: 10px;
}

.noty_theme__relax.noty_bar .noty_buttons {
    border-top: 1px solid #e7e7e7;
    padding: 5px 10px;
}

.noty_theme__relax.noty_type__alert,
.noty_theme__relax.noty_type__notification {
    background-color: #fff;
    border: 1px solid #dedede;
    color: #444;
}

.noty_theme__relax.noty_type__warning {
    background-color: #ffeaa8;
    border: 1px solid #ffc237;
    color: #826200;
}

.noty_theme__relax.noty_type__warning .noty_buttons {
    border-color: #dfaa30;
}

.noty_theme__relax.noty_type__error {
    background-color: #ff8181;
    border: 1px solid #e25353;
    color: #fff;
}

.noty_theme__relax.noty_type__error .noty_buttons {
    border-color: darkred;
}

.noty_theme__relax.noty_type__info,
.noty_theme__relax.noty_type__information {
    background-color: #78c5e7;
    border: 1px solid #3badd6;
    color: #fff;
}

.noty_theme__relax.noty_type__info .noty_buttons,
.noty_theme__relax.noty_type__information .noty_buttons {
    border-color: #0b90c4;
}

.noty_theme__relax.noty_type__success {
    background-color: #bcf5bc;
    border: 1px solid #7cdd77;
    color: darkgreen;
}

.noty_theme__relax.noty_type__success .noty_buttons {
    border-color: #50c24e;
}

.noty_theme__metroui.noty_bar {
    margin: 4px 0;
    overflow: hidden;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.298039) 0 0 5px 0;
}

.noty_theme__metroui.noty_bar .noty_progressbar {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background-color: #000;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.noty_theme__metroui.noty_bar .noty_body {
    padding: 1rem;
    font-size: 14px;
}

.noty_theme__metroui.noty_bar .noty_buttons {
    padding: 0 10px .5em 10px;
}

.noty_theme__metroui.noty_type__alert,
.noty_theme__metroui.noty_type__notification {
    background-color: #fff;
    color: #1d1d1d;
}

.noty_theme__metroui.noty_type__warning {
    background-color: #fa6800;
    color: #fff;
}

.noty_theme__metroui.noty_type__error {
    background-color: #ce352c;
    color: #fff;
}

.noty_theme__metroui.noty_type__info,
.noty_theme__metroui.noty_type__information {
    background-color: #1ba1e2;
    color: #fff;
}

.noty_theme__metroui.noty_type__success {
    background-color: #60a917;
    color: #fff;
}

.noty_theme__mint.noty_bar {
    margin: 4px 0;
    overflow: hidden;
    border-radius: 2px;
    position: relative;
}

.noty_theme__mint.noty_bar .noty_body {
    padding: 10px;
    font-size: 14px;
}

.noty_theme__mint.noty_bar .noty_buttons {
    padding: 10px;
}

.noty_theme__mint.noty_type__alert,
.noty_theme__mint.noty_type__notification {
    background-color: #fff;
    border-bottom: 1px solid #d1d1d1;
    color: #2f2f2f;
}

.noty_theme__mint.noty_type__warning {
    background-color: #ffae42;
    border-bottom: 1px solid #e89f3c;
    color: #fff;
}

.noty_theme__mint.noty_type__error {
    background-color: #de636f;
    border-bottom: 1px solid #ca5a65;
    color: #fff;
}

.noty_theme__mint.noty_type__info,
.noty_theme__mint.noty_type__information {
    background-color: #7f7eff;
    border-bottom: 1px solid #7473e8;
    color: #fff;
}

.noty_theme__mint.noty_type__success {
    background-color: #afc765;
    border-bottom: 1px solid #a0b55c;
    color: #fff;
}

.noty_theme__sunset.noty_bar {
    margin: 4px 0;
    overflow: hidden;
    border-radius: 2px;
    position: relative;
}

.noty_theme__sunset.noty_bar .noty_body {
    padding: 10px;
    font-size: 14px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.noty_theme__sunset.noty_bar .noty_buttons {
    padding: 10px;
}

.noty_theme__sunset.noty_type__alert,
.noty_theme__sunset.noty_type__notification {
    background-color: #073b4c;
    color: #fff;
}

.noty_theme__sunset.noty_type__alert .noty_progressbar,
.noty_theme__sunset.noty_type__notification .noty_progressbar {
    background-color: #fff;
}

.noty_theme__sunset.noty_type__warning {
    background-color: #ffd166;
    color: #fff;
}

.noty_theme__sunset.noty_type__error {
    background-color: #ef476f;
    color: #fff;
}

.noty_theme__sunset.noty_type__error .noty_progressbar {
    opacity: .4;
}

.noty_theme__sunset.noty_type__info,
.noty_theme__sunset.noty_type__information {
    background-color: #118ab2;
    color: #fff;
}

.noty_theme__sunset.noty_type__info .noty_progressbar,
.noty_theme__sunset.noty_type__information .noty_progressbar {
    opacity: .6;
}

.noty_theme__sunset.noty_type__success {
    background-color: #06d6a0;
    color: #fff;
}

.noty_theme__nest.noty_bar {
    margin: 0 0 15px 0;
    overflow: hidden;
    border-radius: 2px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.098039) 5px 4px 10px 0;
}

.noty_theme__nest.noty_bar .noty_body {
    padding: 10px;
    font-size: 14px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.noty_theme__nest.noty_bar .noty_buttons {
    padding: 10px;
}

.noty_layout .noty_theme__nest.noty_bar {
    z-index: 5;
}

.noty_layout .noty_theme__nest.noty_bar:nth-child(2) {
    position: absolute;
    top: 0;
    margin-top: 4px;
    margin-right: -4px;
    margin-left: 4px;
    z-index: 4;
    width: 100%;
}

.noty_layout .noty_theme__nest.noty_bar:nth-child(3) {
    position: absolute;
    top: 0;
    margin-top: 8px;
    margin-right: -8px;
    margin-left: 8px;
    z-index: 3;
    width: 100%;
}

.noty_layout .noty_theme__nest.noty_bar:nth-child(4) {
    position: absolute;
    top: 0;
    margin-top: 12px;
    margin-right: -12px;
    margin-left: 12px;
    z-index: 2;
    width: 100%;
}

.noty_layout .noty_theme__nest.noty_bar:nth-child(5) {
    position: absolute;
    top: 0;
    margin-top: 16px;
    margin-right: -16px;
    margin-left: 16px;
    z-index: 1;
    width: 100%;
}

.noty_layout .noty_theme__nest.noty_bar:nth-child(n+6) {
    position: absolute;
    top: 0;
    margin-top: 20px;
    margin-right: -20px;
    margin-left: 20px;
    z-index: -1;
    width: 100%;
}

#noty_layout__bottomLeft .noty_theme__nest.noty_bar:nth-child(2),
#noty_layout__topLeft .noty_theme__nest.noty_bar:nth-child(2) {
    margin-top: 4px;
    margin-left: -4px;
    margin-right: 4px;
}

#noty_layout__bottomLeft .noty_theme__nest.noty_bar:nth-child(3),
#noty_layout__topLeft .noty_theme__nest.noty_bar:nth-child(3) {
    margin-top: 8px;
    margin-left: -8px;
    margin-right: 8px;
}

#noty_layout__bottomLeft .noty_theme__nest.noty_bar:nth-child(4),
#noty_layout__topLeft .noty_theme__nest.noty_bar:nth-child(4) {
    margin-top: 12px;
    margin-left: -12px;
    margin-right: 12px;
}

#noty_layout__bottomLeft .noty_theme__nest.noty_bar:nth-child(5),
#noty_layout__topLeft .noty_theme__nest.noty_bar:nth-child(5) {
    margin-top: 16px;
    margin-left: -16px;
    margin-right: 16px;
}

#noty_layout__bottomLeft .noty_theme__nest.noty_bar:nth-child(n+6),
#noty_layout__topLeft .noty_theme__nest.noty_bar:nth-child(n+6) {
    margin-top: 20px;
    margin-left: -20px;
    margin-right: 20px;
}

.noty_theme__nest.noty_type__alert,
.noty_theme__nest.noty_type__notification {
    background-color: #073b4c;
    color: #fff;
}

.noty_theme__nest.noty_type__alert .noty_progressbar,
.noty_theme__nest.noty_type__notification .noty_progressbar {
    background-color: #fff;
}

.noty_theme__nest.noty_type__warning {
    background-color: #ffd166;
    color: #fff;
}

.noty_theme__nest.noty_type__error {
    background-color: #ef476f;
    color: #fff;
}

.noty_theme__nest.noty_type__error .noty_progressbar {
    opacity: .4;
}

.noty_theme__nest.noty_type__info,
.noty_theme__nest.noty_type__information {
    background-color: #118ab2;
    color: #fff;
}

.noty_theme__nest.noty_type__info .noty_progressbar,
.noty_theme__nest.noty_type__information .noty_progressbar {
    opacity: .6;
}

.noty_theme__nest.noty_type__success {
    background-color: #06d6a0;
    color: #fff;
}

.field {
    margin-bottom: 0.5rem;
}

.remaining_limit_wrapper {
    margin-bottom: 10px;
}

.remaining_limit_wrapper .red {
    color: #f00;
}

form[name="compPointForm"] .button.disabled {
    opacity: .5;
}

button:not(.loading) .fa.fa-spin, .button:not(.loading) .fa.fa-spin, a:not(.loading) .fa.fa-spin {
    display: none;
}

button.loading .fa.fa-spin, .button.loading .fa.fa-spin, a.loading .fa.fa-spin {
    display: inline-block;
}

.retrieve-password {
    display: flex;
    overflow: hidden;
}

.retrieve-password-form {
    flex: 1 0 100%;
    transition: transform 1s ease-in-out 0.25s;
}

.retrieve-password.stage-0 .retrieve-password-form {
    transform: translate3d(0, 0, 0);
}

.retrieve-password.stage-1 .retrieve-password-form {
    transform: translate3d(-100%, 0, 0);
}

.retrieve-password.stage-2 .retrieve-password-form {
    transform: translate3d(-200%, 0, 0);
}

.button-wrapper {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.button-wrapper form {
    display: inline-block;
}

.button-wrapper .button:not(:last-child),
.button-wrapper form:not(:last-child) .button {
    margin-right: .5rem;
}

.shake {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.wallet-header {
    display: flex;
    justify-content: end;
    align-items: center;
}

.wallet-actions {
    display: flex;
    margin: 0 5px;
    justify-content: space-between;
    align-items: center;
}

.wallet-actions > .button_action.button_action_wallet {
    background: none;
    margin: 0 5px;
    border: none;
    padding: 0;
    min-width: 1px;
    width: 24px;
    min-height: 1px;
    height: 24px;
    line-height: normal;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.button_action.button_action_wallet.set-preferred {
    display: flex;
    border: 1px solid #fff;
    border-radius: 100% 100% 100% 100%;
    color: #848484;
    justify-content: center;
    align-items: center;
}

.button_action.button_action_wallet.set-preferred[disabled] {
    opacity: 1;
    color: #fff;
}

.button_action.button_action_wallet.set-hide {
    color: #fff;
}

.button_action.button_action_wallet.balance-reset {
    color: #fff;
}