body, html {
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    color: #383838;
}

a, .link {
    color: #ed4800;
    font-size: 12px;
    font-weight: normal;
    text-decoration: underline;
}

a:hover, .link:hover {
    text-decoration: none;
}

h1 {
    font-family: "TrebuchetMSRegular", sans-serif;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 22px;
    color: #2e2e2e;
    text-transform: capitalize;
}

h2 {
    color: #000;
    font-size: 18px;
    font-weight: normal;
    padding: 15px 0;
}

h3 {
    font-size: 12px;
    font-weight: normal;
    color: #ed4800;
    margin: 15px 0 10px 0;
}

hr {
    background-color: #a1a1a1;
    color: #a1a1a1;
    border: 0 none;
    height: 1px;
    margin: 0 auto 20px;
}

/*INPUTS*/

option {
    background: #cacaca;
}

.textarea_common, .input_common, .select_common,
.s01, .s011, .it011, .it01, .qlogin_input_wrapper input {
    background: #dedede;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RlZGVkZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk2JSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #dedede 0%, #f6f6f6 20%, #f6f6f6 96%, #f2f2f2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dedede), color-stop(20%, #f6f6f6), color-stop(96%, #f6f6f6), color-stop(100%, #f2f2f2));
    background: -webkit-linear-gradient(top, #dedede 0%, #f6f6f6 20%, #f6f6f6 96%, #f2f2f2 100%);
    background: -o-linear-gradient(top, #dedede 0%, #f6f6f6 20%, #f6f6f6 96%, #f2f2f2 100%);
    background: -ms-linear-gradient(top, #dedede 0%, #f6f6f6 20%, #f6f6f6 96%, #f2f2f2 100%);
    background: linear-gradient(to bottom, #dedede 0%, #f6f6f6 20%, #f6f6f6 96%, #f2f2f2 100%);
    border: 1px solid #9d9d9d;
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    vertical-align: middle;
    margin: 1px 1px 3px;
    padding: 1px 2px;
    color: #505050;
}

.textarea_common {
    height: 80px;
}

.input_common, .select_common, .s011, .it011, .s01, .it01 {
    width: 173px;
    padding: 4px 5px;
    height: 15px;
}

.select_common, .s011 {
    width: 183px;
    padding: 2px 5px;
    height: 24px;
}

.s01.day {
    width: 47px;
}

.s01.month {
    width: 55px;
}

.s01.year {
    width: 63px;
}

.s01, .it01 {
    width: 73px;
}

.select_common.deposit_charge_currency {
    width: 83px;
}

.s01 {
    width: 83px;
}

.s01, .select_common.deposit_charge_currency {
    padding: 4px 5px;
}

.datefield td {
    padding-right: 0 !important;
}

.datefield {
    width: 184px;
}

.pages .it01 {
    text-align: center;
}

/*********************
    INNER PAGE
*********************/

.hidden, .hide {
    display: none;
}

.clear {
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
}

button {
    border: none;
}

.buttons, .button {
    background-position: top left;
}

.buttons:hover, .button:hover {
    background-position: bottom left !important;
}

/* NEWS PAGE */
p.inner_news_date {
    font-size: 12px;
    padding-bottom: 2px;
    color: #999999;
}

p.full_news_title {
    font-size: 12px;
    font-weight: bold;
    color: #111;
    margin: 5px 0 10px 0;
    padding: 0 10px 10px;
}

span.hot_news {
    color: #ff0000;
}

/* GLOSSARY */
.glossary_header a {
    font-weight: bold;
    padding-right: 5px;
}

.glossary_letter b, .glossary_letter {
    font-size: 12px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 7px;
}

.glossary_definition {
    padding-left: 10px;
    padding-bottom: 5px;
}

.sm_fl_center {
    color: #000;
    font-size: 12px;
    margin: 5px 0 10px;
    padding: 0 10px 10px;
}

.sm_delim {
    line-height: 3px;
}

/*  REGISTER & MY INFO */
#passwdStrengthVisual {
    background-color: #10a700 !important;
    margin: 1px 1px 2px;
    border: none !important;
    padding: 2px;
    height: 8px;
    width: 180px;
    line-height: 0;
    font-size: 11px;
    box-sizing: border-box;
}

#passwdStrengthVisual div {
    background-color: #4dd025 !important;
}

table.register_tab td, table.content_info td {
    text-align: left;
    vertical-align: middle;
}

td.required_field_td span, span.required-field {
    color: #ff0000;
    padding: 0 5px;
}

td.field_valid_td {
    padding-left: 5px;
    width: 30px;
}

.field_valid_unknown_icon {
    background: none repeat scroll 0 0 transparent;
    display: block;
    height: 24px;
    width: 24px;
}

.field_valid_error_icon {
    background: url(../i/icons/error_icon.gif) no-repeat;
    width: 24px;
    height: 24px;
    display: block;
}

.field_valid_correct_icon {
    background: url(../i/icons/correct_icon.gif) no-repeat;
    width: 24px;
    height: 24px;
    display: block;
}

.field_valid_message {
    font-size: 10px;
    font-weight: normal;
    color: #ff0000;
    width: 130px;
}

table.register_tab td.simple-text, table.content_info td.simple-text {
    font-size: 12px;
    font-style: italic;
}

.register_tab .left_cell, .content_info .left_cell {
    text-align: left;
    width: 150px;
}

table.register_tab td, .content_info td, .reset_table td, .login_table td, #deposit_submit_tab td.right_cell {
    padding: 0 7px 5px 0;
}

table.register_tab h2, .content_info h2 {
    margin-top: 15px;
}

.dep_tab .input_common, .dep_tab .s01, .dep_tab .select_common {
    margin-bottom: 5px;
}

#passwdStrengthHint {
    color: #10a700;
    font-size: 12px;
    margin-left: 6px;
}

#passwdStrengthTitle {
    display: none;
}
x|
.contact_title {
    padding-bottom: 5px;
    font-weight: bold;
}

.anchor {
    font-size: 0;
    text-indent: -1000000px;
    text-decoration: none;
    line-height: 0;
}

/*HANDS HISTORY*/

.action_num {
    color: inherit;
}

.badbeat_container h2 {
    color: #f9af4f;
}

.beatbeat_winners {
    color: #fff;
}

.text_required_field {
    margin: 5px 0;
}

/*TRANSFER*/

#transfer_form td {
    vertical-align: middle;
}

/*CURRENCY EXCHANGE*/

.negative {
    color: #808080;
}

.excess {
    color: #f00;
}

div.currency_exchande_adjustment {
    font-size: 11px;
    line-height: normal;
    position: relative;
    top: -6px;
    padding-left: 14px;
}

.currency_exchande_adjustment a {
    font-size: 11px;
    line-height: normal;
    text-decoration: none;
    border-bottom: 1px dashed #528fe7;
    color: #528fe7;
}

.currency_exchande_adjustment a:hover {
    border-bottom: none;
}

/******** CASHIER BALANCE **********/
.change_wallet_table {
    float: right;
    width: 80px;
}

.change_wallet_table td, table.border th .change_wallet_table td {
    padding: 0;
    border: none;
}

.change_wallet_table td.currency_td {
    padding-right: 5px;
}

.change_wallet_table a, .change_wallet_table a:hover {
    display: block;
    height: 18px;
    text-decoration: none;
}

.preferred_td div, .lock_td div {
    width: 19px;
    height: 20px;
}

.preferred_td div {
    background-position: top left;
}

.preferred_td div.locked {
    background-position: bottom left;
}

.lock_td div {
    background-position: top right;
}

.lock_td div.locked {
    background-position: bottom right;
}

#hidden_wallets_list {
    margin: 2px 0 0 5px;
}

.about-layout p {
    padding-bottom: 15px;
}

td.amount_frac {
    padding-top: 7px;
}

/*DEPOSITS FEE*/
.ps_description {
    font-size: 11px;
    padding: 5px;
}

#fee_table_container {
    padding: 3px;
    border: 1px solid #2a2f26;
    border-right-color: #9ea29b;
    border-bottom-color: #9ea29b;
}

.fee_table .title_field {
    min-width: 120px;
    white-space: nowrap;
}

.fee_table td {
    vertical-align: top;
}

.fee_table .value_field b, #target_wallet_amount {
    font-weight: bold;
}

#rate_today {
    font-size: 11px;
    font-weight: bold;
}

#target_amount_td {
    min-width: 90px;
    text-align: left;
}

#link_fee_overview {
    font-weight: normal;
}

.warning_amount .input_dep_amount_int {
    color: #ff0000;
    font-weight: bold;
}

.cashout_table .available_cashout td {
    font-weight: bold;
    padding-right: 20px;
}

.deposit_fee {
    font-size: 11px;
    white-space: nowrap;
}

.button {
    display: block;
    background-image: url("../i/button.png");
    background-repeat: no-repeat;
    width: 112px;
    height: 31px;
    line-height: 31px;
    text-align: center;
    text-decoration: none;
    font-style: normal !important;
}

.button .button_title {
    font-family: Tahoma, sans-serif;
    font-size: 13px;
    color: #fff;
    text-shadow: 0 0 2px #a80a0a;
    text-decoration: none;
    text-transform: uppercase;
}

.colorbox_table_container #passwdStrengthHint {
    color: #fff;
}

#page_container .colorbox_table_container td, #page_container .colorbox_table_container #passwdStrengthHint {
    color: #383838;
}

.news_body img {
    display: none;
}