/***********************************
    BORDER TABLE
************************************/

table.border, .cms_content_container table, .w100 {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 5px;
    color: #505050;
}

table.border td.first, .cms_content_container table td.first, .w100 td.first, table.border .transaction_filter_td,
table.border:not(.table_ofc_pineapple_rules) td:first-child, .cms_content_container table:not(.table_ofc_pineapple_rules) td:first-child, .w100 td:first-child {
    color: #ed4800;
}

table.border, .cms_content_container table {
    text-align: center;
}

table.border th.center, .cms_content_container table th {
    text-align: center;
}

table.comppoints td.money {
    text-align: center !important;
}

table.border td, table.border th,
.cms_content_container table td, .cms_content_container table th,
.w100 th, .w100 td {
    padding: 4px;
    vertical-align: middle;
}

table.border th {
    text-align: center;
}

.even .lightcell, .rake_even .lightcell, .even .lightcell,
.cms_content_container table td,
.dates .todate th.month, .dates .todate th.day, .dates .todate th.year,
.inner_help .border .even td,
.border-p-100 .even td, .w100 .even td, .w100-p .even td {
    background: #efeeea none; /*4*/
    height: 41px;
}

.odd .lightcell, .lightcell, .hilightcell, .rake_odd .lightcell,
.dates .fromdate th.month, .dates .fromdate th.day, .dates .fromdate th.year,
.inner_help .border .odd td,
.border-p-100 .odd td, .w100 .odd td, .w100-p .odd td {
    background: #fff none; /*3*/
    height: 41px;
}

.even .darkcell, .tour_table .even td, .dates .todate .title {
    background: #efeeea none; /*2*/
    text-align: left;
}

.odd .darkcell, .darkcell, .tour_table .odd td, .filter_table .darkcell td,
.dates .fromdate .title, .dates .fromdate th.button-cell, .dates .td th, .filter_table.date_filter .pages td {
    background: #fff none; /*1*/
    text-align: left;
}

.fromdate th.button-cell {
    text-align: center !important;
    padding-bottom: 42px !important;
}

tr.header th, th.header, .filter_table .td_1, .cms_content_container table th,
.cms_content_container table th, .inner_help .border th,
.w100 th, .deposit_result_table th {
    background: #efefef;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmZWZlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iI2Q3ZDdkNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2NlY2VjZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjOWM1YzUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #efefef 0%, #d7d7d7 49%, #cecece 50%, #c9c5c5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #efefef), color-stop(49%, #d7d7d7), color-stop(50%, #cecece), color-stop(100%, #c9c5c5));
    background: -webkit-linear-gradient(top, #efefef 0%, #d7d7d7 49%, #cecece 50%, #c9c5c5 100%);
    background: -o-linear-gradient(top, #efefef 0%, #d7d7d7 49%, #cecece 50%, #c9c5c5 100%);
    background: -ms-linear-gradient(top, #efefef 0%, #d7d7d7 49%, #cecece 50%, #c9c5c5 100%);
    background: linear-gradient(to bottom, #efefef 0%, #d7d7d7 49%, #cecece 50%, #c9c5c5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#c9c5c5', GradientType=0);
    font-family: TrebuchetMSRegular, sans-serif;
    color: #353535;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.66);
    text-align: center !important;
    height: 41px;
}

.pages td, .pages td a {
    line-height: 22px;
}

.border .paging_td {
    background: none #efeeea;
}

table.balance_tab td.user_name {
    text-align: right;
    font-weight: normal;
    padding-right: 12px
}

.balance_tab td, .balance_tab th {
    width: 50%;
}

table.border td.money {
    text-align: right;
    padding-right: 10px;
}

#content table.border td.user {
    text-align: right;
    font-weight: bold;
    padding-right: 30px;
}

.filter_table .month, .filter_table .day, .filter_table .year {
    text-align: center;
}

.filter_table p {
    padding: 2px 0;
}

table.pages {
    width: 100%;
    margin-top: 5px;
}

table.border td.datetime, table.border td.textcell {
    text-align: center;
}

table.border.balance_tab td.datetime, table.border.balance_tab td.textcell {
    text-align: left;
}

table.border td.number {
    text-align: center;
}

.container_link_show {
    text-align: center;
}

table.border a:hover {
    text-decoration: none;
}

.odd.next_currency .darkcell, .odd.next_currency .lightcell {
    border-top: 1px solid #1b2434;
}

.filter_table .header.monthes,
.filter_table .header.years,
.filter_table .header.days {
    text-align: left;
}

table.border.balance_tab {
    margin-bottom: 20px;
}

h2.table_header {
    margin-bottom: 5px;
}

.balance_tab td, .balance_tab th {
    width: 10%;
}

.cashier_transactions_tables h2 {
    padding-top: 15px;
}

.tour_name, .nickname {
    color: #ed4800;
}

.tournaments_table .header {
    background: #f2f2f2;
    color: #7e7e7e;
    border: solid 1px #adadad;
    height: 19px;
    padding: 0 4px;
}

.tournaments_table, .main_best_player_table {
    color: #444;
    width: 100%;
}

.tournaments_table .tour_odd td, .tournaments_table .tour_even td, .main_best_player_table .odd td, .main_best_player_table .even td {
    padding: 4px 0;
}

#tournamenttickets_table .odd .first:before, #tournamenttickets_table .even .first:before {
    background: url("../i/icons/ticket_icon_v.png") no-repeat top left;
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 21px;
    height: 21px;
}

#tournamenttickets_table .odd .inactive.first:before, #tournamenttickets_table .even .inactive.first:before {
    background-position: bottom left;
}

.cms_content_container .sitemap td {
    height: auto;
    text-align: left;
}

.tournaments_table tr .tour_name {
    padding: 4px 10px 4px 0;
    width: 219px;
    max-width: 219px;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    white-space: nowrap;
}

.pages_count {
    text-align: right;
}

/* Vip level table */

.table_vip_level td {
    color: #878686 !important;
    text-align: center;
}

.table_vip_level .current_vip_level, .table_vip_level .next_vip_level {
    color: #d7d7d7 !important;
    font-weight: 600;
}

.table_vip_level .current_vip_level span {
    font-weight: 900;
}